body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color:red; */
    background-image: url(https://cdn.wallpapersafari.com/17/1/gy1hQA.png);
    /* background-repeat:; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* gap: 40px; */
   }
   .inp{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    /* text-transform: capitalize; */
    border-radius: 10px;
    /* border: 5px solid black; */
    /* box-shadow: 0px 0px 2px 2px black; */
   }
   .inp:hover{
    box-shadow: 0px 0px 4px 2px black ;
   }
   .sbt{
    text-align: center;
    margin-top: 30px;
   }
   /* .container{
    text-align: center;
    display: flex;
   
   } */
   /* #data{ */
    /* display: flex; */
    /* justify-content: s; */
   /* } */
   .div{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 10px;
    border: 1px solid black;
   }
   .same{
    background-color: violet;
    border-radius: 5px;
    padding: 15px 15px;
    color: white;
    font-size: large;
    

   }
    #data{
    overflow: scroll;
    /* background-color: red; */
    height: 50vh;
    /* width: 50vw; */
    /* border: 3px solid black; */
    padding: 5px 5px;
   }
   .edit{
    background-color: chartreuse;
    color: black;
    border-radius: 10px ;
    border: 1px solid black;
    margin: 5px 5px;
    width: 60px;

   }
   .delete{
    background-color: red;
    color: white;
    border-radius: 10px ;
    border: 1px solid black;
    margin: 5px 5px;
    

   }
   .inp-tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-transform: capitalize; */
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 10px;

    /* box-shadow: 0px 0px 2px 2px black; */
   }
   .inp-tags:hover{
    box-shadow: 0px 0px 2px 2px black;
   }
   .red{
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* border: 1px solid black; */
   }
   .title{
    text-align: center;
    text-transform: capitalize;
   }
   button{
    cursor: pointer;
    /* box-shadow: 0px 0px 3px navy; */
   }
   button:hover{
    box-shadow: 0px 0px 3px 3px navy;
   }
   .sbt{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   }
   span{
    color: red;
   }
   @media (max-width: 768px) {
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;
    /* background-color:red; */
    background-image: url(https://cdn.wallpapersafari.com/17/1/gy1hQA.png);
    /* background-repeat:; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;

    /* gap: 40px; */
   }
    .red{
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   #data{
    overflow: scroll;
    /* background-color: red; */
    height: 50vh;
    /* width: 100vw; */
    /* border: 3px solid black; */
    padding: 5px 5px;
   }
   .div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-content: center;
    /* gap: 40px; */
    margin-top: 10px;
    /* width: 100vw; */
    border: 1px solid black;
    overflow-y: scroll;
    font-size: larger;
   }
   .inp-tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-transform: capitalize; */
    font-size: larger;
    /* box-shadow: 0px 0px 2px 2px black; */
   }
   .inp-tags:hover{
    font-size: larger;
   }



   }